a{
    text-decoration: none;
}

body {
    margin-left: 3rem;
    margin-right: 3rem;
}

#our__photographers {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    width: fit-content;
    margin-top: 4rem;
}

#logo {
    margin-top: 3rem;
    width: 11rem;

}

#header__index {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2rem;
    overflow: hidden;
}


.filtre_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 90px;
}

.filtre_nav_head {
    border: .5px solid #C4C4C4;
    border-radius: 11px;
    color: #901C1C;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0 .1875rem;
    padding: .0625rem .375rem;
    transition: all .2s;
}

.filtre_nav_head:hover {
    background-color: #DB8876;
    color: #fff;
}

.filtre_nav_head:focus {
    background-color: #DB8876;
    color: white;
}


#lien-photographe {
    background: #DB8876;
    border-radius: .3rem;
    color: #000;
    flex-wrap: nowrap;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 2%;
    width: 182px;
    z-index: 1;
}

#lien-photographe:hover {
    color: #fff;
}

.location {
    color: #901C1C;
    margin: .4rem;
}

.photographer__profil__name {
    color: #D3573C;
    font-size: 1.7rem;
    margin-bottom: .7rem;
}

.tagline {
    margin: 0;
    margin-bottom: .4rem;
    
}

.price {
    color: #757575;
    margin: 0;
}


#photographers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.photographe{
    text-align: center;
    margin: 3rem;
    width: 25%;
}

.vignette {
    background-color: #70786d;
    border-radius: 50%;
    box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);
    height: 12.5rem;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    width: 12.5rem;
    transition: 0.5s;
}

.vignette:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.id {
    display: none;
}

.filter_tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    text-align: center;
} 

.filter_tags_main {
    border: .5px solid #C4C4C4;
    border-radius: 11px;
    color: #901C1C;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0 .1875rem;
    padding: .0625rem .375rem;
    transition: all .2s;
}

.filter_tags_main:hover {
    background-color: #DB8876;
    color: #fff;
    cursor: pointer;
}


/* ###########################   FORMULAIRE  ######################################################## */

#contact__modal {
    background-color: rgba(0, 0, 0, 0.4);
    /* display: none; */
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transform: translateY(700px);
  }
  
  /* Modal Content */

  .modal-content {
    background-color: #db8776;
    border: 1px solid #888;
    margin: auto;
    padding: 0rem 2rem 9rem 2rem;
    width: 48%;
    height: 135%;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .modal-form {
    padding: 1rem 0rem;
  }
  
  .modal-header {
    margin-bottom: 2rem; 
  } 

  .modal-header-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 30px;
  }
  #name{
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
  } 
  
  .form-input {
    border-radius: 5px;
    border: none;
    height: 58px;
    width: 599px;
  }
  
  .form-input:focus {
    border: 1px solid red;
  }
  
  input{
    font-size: 25px;
    padding-left: 1rem;
  }
  .form-text-area {
    border: none;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    width: 599px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 8rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    /* animation: affichage 1s both; */
  }
  @keyframes affichage{

    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    } 
  }

  .photographe{
    animation: affichage 0s both;
  } 
  .photographe{
    animation: affichage 0.8s both;
  }
  .photographe{
    animation: affichage 0.8s both;
  }
  .photographe{
    animation: affichage 0.8s both;
  }
  .photographe{
    animation: affichage 0.8s both;
  }
  .photographe{
    animation: affichage 0.8s both;
  }

  .photographe:nth-child(1) {
    animation-delay:0s;
  }
  .photographe:nth-child(2) {
      animation-delay:0.2s;
  }
  .photographe:nth-child(3) {
      animation-delay:0.4s;
  }
  .photographe:nth-child(4) {
    animation-delay:0.6s;
  }
  .photographe:nth-child(5) {
    animation-delay:0.8s;
  }
  .photographe:nth-child(6) {
    animation-delay:1s;
  }
  
  .form-label {
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:#312E2E;
    margin-bottom: 0.5rem;
  }
  
  .form-submit-button {
    background-color: #911C1C;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 65px;
    width: 180px;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.6s;
  }

  .form-submit-button:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px #4f0f0f;
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 3.5rem;
    right: 20.5rem;
    font-size: 3.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:white;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(90deg);
  }

/* .menu_plat1{
    animation: affichage 0.8s both;
} */
  
  /* @media (min-width: 992px) {
    .modal {
      padding: 1rem 2rem;
    }
    .modal-content {
      padding: 1rem 2rem;
      margin: auto;
    }
    .modal-header-title {
      font-size: 64px;
    }
    .form-label {
      font-size: 36px;
      font-weight: 400;
    }
    .form-submit {
      justify-content: flex-start;
      padding-bottom: 3rem;
    }
    .form-submit-button {
      height: 69px;
      width: 170px;
    }
  } */



  /* ###########################  PAGE PHOTOGRAPHE  ######################################################## */

  /* #photographer-page{
      width: 55rem;
      height: 55rem;
      background: rgb(239, 238, 238);
  } */


  .photographer-page__body{
    margin: 1.5rem;
  }

  .photographer-page__header {
    background-color: #fafafa;
    border-radius: 5px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
  /* .photographer-page__header__content__title {
    font-size: 64px;
    line-height: 4rem;
    margin: 0rem;
  } */

  .photographer-page__name{
    color: #d3573c;
    font-size: 3rem;
    line-height: 1.8rem;
    margin: 0;
    line-height: 4rem;
  }

  .photographer-page__location {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0.2rem;
    color: #911c1c;
  }
  /* .photographer-page__location :hover{
    cursor:default;
  } */
  .photographer-page__tagline {
    color: #525252;
    font-size: 17px;
    margin: 0;
  }

  .photographer-page__taglist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    position: absolute;
    cursor:default;
}

  .photographer-page__contact__button {
    background-color: #911c1c;
    border-radius: 5px;
    border: none;
    bottom: 1rem;
    color: white;
    cursor: pointer;
    font-size: 23.44px;
    height: 60px;
    width: 300px;
    margin-left: 4rem;
    margin-top: 4rem;
    transition: 0.3s;
  }
  .photographer-page__contact__button:hover{
    background-color:#DB8876;
    box-shadow:  0px 0px 8px black;
    transition: 0.3s;
  }
  .photographer-page__contact__button:active{
    box-shadow:  inset 0px 0px 8px black;
  }

  /* .contact{
    transition: 0.6s;
    width: 300px;
    border-radius: 5px;
    margin-left: -0.4rem;
    margin-top: -0.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

    }
  .contact:hover{
  transform: translateX(-40px);
  transition: 0.6s;
  } */

  /* .photographer-page__contact__button:hover .fa-file-alt{
    color: white;
    transition: 0.6s;
    z-index: 1;
}
  .fa-file-alt{
    color: #911c1c;
    left: 5rem;
    top: -4.3rem;
    font-size: 2rem;
    transition: 0.6s;
    position: relative;
    z-index: -1;
  } */


.photographer-page__vignette {
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    margin-left: 16rem;
    
  }
.photographer-page__sort{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
#photographer-page__sort__select {
    background-color: #911c1c;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 23.44px;
    height: 60px;
    width: 160px;
}
/* select{
  background: #911c1c;
  width: 5rem;
} */
/* #photographer-page__sort__select select{
  display: none;
}
.select-selected{
  background-color: #911c1c;
} */
/* option.date{
  background-color: #911c1c;
}
select option{
  background-color: #911c1c;
} */
/* ################################## gallery ################################## */
  

  #gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  .photographer-page__gallery__media{
      width: 24rem;
      height: 18rem;
      margin-right: -3.5rem;
      margin-left: -0.5rem;
      object-fit: cover;
      border-radius: 0.4rem;
      cursor: pointer;
  }

.photographer-page__gallery__media__footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 117%;
}

.photographer-page__gallery__media__footer__figcaption{
  margin-top: 1rem;
}

.photographer-page__gallery__media__footer__like{
    display: flex;
    flex-direction: row;
}

.photographer-page__gallery__media__footer__like__button {
    background: none;
    border: none;
    color: #911c1c;
    font-size: 1.6rem;
    cursor: pointer;
}

/* ################################## Footer Card Photographer ################################## */

.jaja{
  align-items: center;
  background-color: #DB8876;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 25px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  height: 70px;
  padding: 0 2rem;
  right: 2.5rem;
  width: 270px;
  z-index: 1;
}

.photographer-page__footer__aside{
  display: flex;
}

.heart-card{
  margin-top: 1.6rem;
  margin-left: 0.5rem;
}

/* ################################## Lightbox ################################## */

/* Modale */
#modale__lightbox{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}
.lightbox__container{
  width: 90%;
  margin: auto;
  max-width: 1200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox{
  align-items: center;
  color: #911c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
  padding: 0rem;
  text-align: center;
}

.lightbox__close{
  color: #911c1c;
  background-color: white;
  border: none;
  font-size: 3rem;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  top: 20px;
  right: 10px;
  z-index: 11;
}

.lightbox__next,
.lightbox__previous {
  color: #911c1c;
  background-color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 14px;
  z-index: 11;
}

.lightbox__previous {
  right:auto;
  left:3rem;
}

.lightbox__next{
  right: 3rem;
}

.lightbox__media{
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.hide {
  display: none;
}












/* ################################## Button Select ################################## */
.custom-select {
  position: relative;
  margin: 50px;
}
.custom-select li {
  list-style-type: none;
}
.select {
  width: 128px;
  height: 73px;
  cursor: pointer;
  background-color: #911c1c;
  border-radius: 5px;
  position: relative;
}

.select_expand {
  width: 0;
  height: 69px;
  position: absolute;
  top: 0;
  right: 0;
}
.select_expand::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #fff;
  font-size: 20px;
  pointer-events: none;
  z-index: 2;
  transition: all 250ms ease-in-out;
}
.select_expand:checked::after {
  transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
}
.select_expandLabel {
  display: block;
  width: 100%;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.select_close {
  display: none;
}
.select_closeLabel {
  width: 170px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.select_items {
  width: 170px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding-top: 69px;
  z-index: 1;
}
.select_input {
  display: none;
}
.select_label {
  display: block;
  height: 0;
  font-size: 1.2rem;
  line-height: 69px;
  overflow: hidden;
  color: #fff;
  background-color: #fff;
  cursor: pointer;
  /* padding-left: 20px; */
}
.select_label-placeholder {
  height: 69px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 1.5rem;
  background-color: transparent;
}
.select_expand:checked + .select_closeLabel {
  display: block;
}
.select_expand:checked + .select_closeLabel + .select_options {
  background: #911c1c;
  border-radius: 0 0 5px 5px;
  width: 8rem;
}
.select_expand:checked + .select_closeLabel + .select_options .select_label {
  height: 69px;
  background: transparent;
  margin-left: -2.5rem;
  padding-left: 1.5rem;
}
.select_expand:checked + .select_closeLabel + .select_options .select_label:hover {
  background-color: #db8876;
}

.select_expand:checked + .select_closeLabel + .select_options + .select_expandLabel {
  display: none;
}
.select_expand:checked + .select_closeLabel + .select_options + .select_option {
  border-radius: 5px;
}
.select_expand:checked + .select_closeLabel + .select_options .select_option:nth-child(2) .select_label:hover {
  border-radius: 0 0 5px 5px;
}

@keyframes listOpen{

  0% {
      transform: translateY(-55%);
      opacity: 0;
  }
  100%{
      transform: translateY(0%);
      opacity: 1;
  } 
}

.select_expand:checked + .select_closeLabel + .select_options {
  animation: listOpen 0.5s both;
}

.select_input:checked + .select_label {
  height: 73px;
  margin-top: -69px;
  margin-left: -1rem;
  background-color: #911c1c;
  border-radius: 5px;
}
.select .border-top {
  display: block;
  height: 100%;
  width: 85%;
  border-top: 1px solid #fff;
}
.select_input:checked + .select_label .border-top {
  border-top: none;
}
#customselect-titre{
  z-index: 99;
}






/* .media__link.videoLogo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,.15);
}

.media__link.videoLogo::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #fff;
  transform: translate3d(-50%, -50%, 0);
} */